.page__wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.page {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}
